body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200px;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: grey;
    padding-left: 15px;
    padding-right: 15px;
}

.bodycontent{
    
    color:blue;
    font-family: comic-sans-MS;
    text-align: left;

}
    

