body {
    font-family: sans-serif;
    background-color: gray;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 75px;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: gray;
    padding-left: 15px;
    padding-right: 15px;
}

.bodycontent{
    text-align: left;
    font-size: 30px;


}
    

